In [16]:
import pandas as pd

In [17]:
pd.DataFrame([['a','b','c'],[1,2,3]])

   0  1  2
0  a  b  c
1  1  2  3

In [18]:
pd.DataFrame([['a','c'],[1,2,3]])

   0  1    2
0  a  c  NaN
1  1  2  3.0

In [19]:
pd.DataFrame(zip(['a','b','c'],[1,2,3]))

   0  1
0  a  1
1  b  2
2  c  3

In [20]:
pd.DataFrame(zip[['a','b','c'],[1.2.3]])

SyntaxError: invalid syntax (2009555064.py, line 1)