In [ ]:
함수의 기본구조

def(함수이름)(input):
    (연산 등의 코드)
    return(리턴값)

연산을 하는 함수

def func1(x, y): #x,y를 입력받음
    z=x%y #연산1
    w=x-y #연산2
    if z>w: #조건에 따른 다른 리턴
        return 'type1'
    else:
        return 'type2'

In [ ]:
리스트 컴프리헨션
[fn(i) for i in range(10)]

apply 함수 이용
df'['col1'].apply(lambda x: fn(x))

반복문에 활용
for i in range(10):
    print

In [3]:
def func1():
    print('function 1')

In [4]:
func1()

function 1

In [7]:
def func1(x):
    x=1 #x는 지역(로컬)변수: 이 지역에서만 사용할 수 있는 변수->지역변수로 선언한 것
    if x==1:
        return 'function1  
    else:
        return 'function2'

In [8]:
x=1
func1(x)

'function1'

In [9]:
x=2
func1(x)

'function2'

In [10]:
x=10 # x는 전역(글로벌)변수
a=1
func1(a)

'function1'

In [11]:
x

10

In [12]:
x=10

for x in range(5):
    print(1)

1
1
1
1
1

In [24]:
def func2(input1):
    global input2 #전역변수라고 선언함
    input2= input1+input2
    input2 +=5 #전역변수 수정시도한 것->하지만 전역변수 수정 지원되지 않음
    
    return input3

In [25]:
input2=384 #전역변수에서 지역변수로 바로 사용하지 못하고 지역변수로 정의되어야함

In [26]:
func2(768)

NameError: name 'input3' is not defined

In [23]:
input2

1157

In [35]:
def func2(input1):
    input3=input1+input2
    input2=999 #지역변수 먼저 선언
    input3=input1+input2
    input2 +=5
    
    return input3

In [36]:
input2=384

In [37]:
func2(768)

UnboundLocalError: local variable 'input2' referenced before assignment

In [31]:
input2

384

## 실습: 함수를 이용한 반복문
func3 함수를 만든다
해당함수는 입력된 두 수의 제곱을 각각 리턴한다
1~10 범위에서 해당 연산을 반복하고 출력하도록 구성한다

숫자A를 2 입력하고
숫자B를 3 입력했을 때
10번 2^2, 3^2가 출력되어야 한다
ex.)
4,9
4,9
4,9
4,9
4,9
4,9
4,9
4,9
4,9
4,9 출력

In [44]:
def sq(a, b):
    return a**2, b**2

In [45]:
sq(2, 3)

(4, 9)

In [46]:
for i in range(10):
    print(sq(2,3))

(4, 9)
(4, 9)
(4, 9)
(4, 9)
(4, 9)
(4, 9)
(4, 9)
(4, 9)
(4, 9)
(4, 9)

In [47]:
func_ex(12, 9)

NameError: name 'func_ex' is not defined

In [53]:
def func_ex():
    print(numberA, numberB)

In [54]:
func_ex()

NameError: name 'numberA' is not defined

In [61]:
func1(1)

1

In [62]:
func2(2)

2

In [ ]:
func3(3)

In [ ]:
fun4(4)

In [63]:
def func1(x):
    return x

In [64]:
def func2(y):
    return y

In [65]:
def func3(x):
    def func4(x):
        return x
    
    return func4(x)

In [66]:
def func5(x):
    return func1(x)

In [67]:
func3(3)

3

In [68]:
func5(5)

5

In [69]:
for i in range(5):
    for j in range(5):
        pass
    
    print(i, j)

0 4
1 4
2 4
3 4
4 4

실습: 함수 써보기

In [ ]:
def sum_all(x,y,z,w):
    sum_1=x+y
    sum_2_=sum_1_+z
    sum_3=sum_1+z
    sum_4=sum_3+sum_2+sum_1
    
    sum_5=0
    for i in range(w):
        sum_5+=sum_4
        
    return sum_5

In [ ]:
def for_loop(x,y):
    res=0
    
    for i in range(x):
        res+=x
        
        for i in y:
            res-=j
            
    return res

In [ ]:
def list_return(x,y,z,w):
    return [i+x+z for i in range(w)]

In [1]:
x=int(input('number1:'))
y=int(input('number2:'))
z=int(input('number3:'))
w=int(input('number4:'))

number1:1
number2:2
number3:3
number4:4

In [11]:
num1_res=sum_all(x, y, z, w)

NameError: name 'sum_all' is not defined

In [12]:
num2_res=for_loop(num1_res, x)

NameError: name 'for_loop' is not defined

In [13]:
num3_res=list_return(num1_res, num2_res, z, w)

NameError: name 'list_return' is not defined

In [14]:
print(num_res)

NameError: name 'num_res' is not defined

In [ ]:
print(num2_res)

In [17]:
import pandas as pd

In [22]:
df = pd.read_excel("C:/Users/user/Downloads/RNAseq_result.xlsx")

In [23]:
df

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
for i in df.index:
    df. loc[i, 'WT1'] +=1

In [27]:
df['WT1']=df['WT1']. apply(lambda x: x+1)

In [28]:
 df['WT1']=[i+1 for i in df['WT1']]

In [29]:
df

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## lambda 함수
* lambda x: 형식으로 이동
* 불특정 대상 x를 의미
* df['WT1']. apply(lambda x: x+1)식으로 사용할 경우 pandas Serial로 반환됨
* (lambda x: x+1)(456)식으로 사용할 경우 int로 반환됨
* 위 예시를 제외한 방법으로 list-like object를 만들어보자

In [30]:
df['WT1']=df['WT1']. apply(lambda x: x+1)

In [31]:
(lambda x: x+1)(456)

457

In [35]:
res=[]

for i in range(10):
    res. append((lambda x:x+1)(i))

In [36]:
res

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
[(lambda x: print(1) if x>0 else0)(i)

In [37]:
df

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
def func_apply(x):
    if x>0:
        return 123
    else:
        return 456

In [43]:
df['WT1']. apply(lambda x: func_apply(x))

0         123
1         123
2         123
3         123
4         123
         ...
109277    123
109278    123
109279    123
109280    123
109281    123
Name: WT1, Length: 109282, dtype: int64

In [44]:
df

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
df. columns[1]='asdf'

TypeError: Index does not support mutable operations

In [50]:
temp_list[-4]='Treat30'

NameError: name 'temp_list' is not defined

In [48]:
df.columns[-4]='Treat30'

TypeError: Index does not support mutable operations

In [49]:
temp_list

NameError: name 'temp_list' is not defined

In [52]:
df.colums=temp_list

NameError: name 'temp_list' is not defined

In [54]:
df.rename({'Treat30':'Treat3'}, axis=1)

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
df.index

RangeIndex(start=0, stop=109282, step=1)

In [59]:
list(df. index)[109279]

109279

In [60]:
df.index=temp_list

NameError: name 'temp_list' is not defined

In [61]:
df

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
df.index[109279]

109279

In [64]:
df.iloc[10:,2:]

        WT1  WT2  WT3  Treat1  Treat2  Treat3  Treat4  Treat5  Treat6
10      6.0  0.0  0.0     0.0     0.0     0.0     0.0     0.0     0.0
11      6.0  0.0  0.0     0.0     0.0     0.0     0.0     0.0     0.0
12      6.0  0.0  0.0     0.0     0.0     0.0     0.0     0.0     0.0
13      6.0  0.0  0.0     0.0     0.0     0.0     0.0     0.0     0.0
14      6.0  0.0  0.0     0.0     0.0     0.0     0.0     0.0     0.0
...     ...  ...  ...     ...     ...     ...     ...     ...     ...
109277  6.0  0.0  0.0     0.0     0.0     0.0     0.0     0.0     0.0
109278  6.0  0.0  0.0     0.0     0.0     0.0     0.0     0.0     0.0
109279  6.0  0.0  0.0     0.0     0.0     0.0     0.0     0.0     0.0
109280  6.0  0.0  0.0     0.0     0.0     0.0     0.0     0.0     0.0
109281  6.0  0.0  0.0     0.0     0.0     0.0     0.0     0.0     0.0

[109272 rows x 9 columns]

In [ ]:
copy_df.iloc[-1,-1]='changed_value'

In [ ]:
copy_df

In [69]:
df

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [70]:
df2=df

In [71]:
df.iloc[-1,-1]='changed_value'

In [72]:
df2

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,changed_value

In [ ]:
# 데이터프레임 생성하기

In [73]:
tnfa = '''ACCATGAGCACAGAAAGCATGATCCGCGACGTGGAACTGGCAGAAGAGGCACTCCCCCAAAAGATGGGGG
GCTTCCAGAACTCCAGGCGGTGCCTATGTCTCAGCCTCTTCTCATTCCTGCTTGTGGCAGGGGCCACCAC
GCTCTTCTGTCTACTGAACTTCGGGGTGATCGGTCCCCAAAGGGATGAGGTGAGTNNNNNNNNNNNNNNN
NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
NNNNNNNNNNNNNNNCTCCTTCTTTTCCTACACAGAAGTTCCCAAATGGCCTCCCTCTCATCAGTTCTAT
GGCCCAGACCCTCACACTCAGTAAGTGTTCCCACACCTCTCTCTTAATTTAAGATGGAGGAAGGGCAGTT
AGGCATGGGATGAGATGGGGTGGGGGGAGAACTTAAAGCTTTGGTTTGGGAGGAAAGGGGTCTAAGTGCA
TAGATGCTTGCTGGGAAGCCTAAAAGGCTCATCCTTGCCTTTGTCTCTTCCCCTCCAGGATCATCTTCTC
AAAATTCGAGTGACAAGCCTGTAGCCCACGTCGTAGGTAANNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
CCCCCCCCCCTCAGCAAACCACCAAGTGGAGGAGCAGCTGGAGTGGCTGAGCCAGCGCGCCAACGCCCTC
CTGGCCAACGGCATGGATCTCAAAGACAACCAACTAGTGGTGCCAGCCGATGGGTTGTACCTTGTCTACT
CCCAGGTTCTCTTCAAGGGACAAGGCTGCCCCGACTACGTGCTCCTCACCCACACCGTCAGCCGATTTGC
TATCTCATACCAGGAGAAAGTCAACCTCCTCTCTGCCGTCAAGAGCCCCTGCCCCAAGGACACCCCTGAG
GGGGCTGAGCTCAAACCCTGGTATGAGCCCATATACCTGGGAGGAGTCTTCCAGCTGGAGAAGGGGGACC
AACTCAGCGCTGAGGTCAATCTGCCCAAGTACTTAGACTTTGCGGAGTCCGGGCAGGTCTACTTTGGAGT
CATTGCTCTGTGAAGA'''

In [74]:
print(tnfa)

ACCATGAGCACAGAAAGCATGATCCGCGACGTGGAACTGGCAGAAGAGGCACTCCCCCAAAAGATGGGGG
GCTTCCAGAACTCCAGGCGGTGCCTATGTCTCAGCCTCTTCTCATTCCTGCTTGTGGCAGGGGCCACCAC
GCTCTTCTGTCTACTGAACTTCGGGGTGATCGGTCCCCAAAGGGATGAGGTGAGTNNNNNNNNNNNNNNN
NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
NNNNNNNNNNNNNNNCTCCTTCTTTTCCTACACAGAAGTTCCCAAATGGCCTCCCTCTCATCAGTTCTAT
GGCCCAGACCCTCACACTCAGTAAGTGTTCCCACACCTCTCTCTTAATTTAAGATGGAGGAAGGGCAGTT
AGGCATGGGATGAGATGGGGTGGGGGGAGAACTTAAAGCTTTGGTTTGGGAGGAAAGGGGTCTAAGTGCA
TAGATGCTTGCTGGGAAGCCTAAAAGGCTCATCCTTGCCTTTGTCTCTTCCCCTCCAGGATCATCTTCTC
AAAATTCGAGTGACAAGCCTGTAGCCCACGTCGTAGGTAANNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
CCCCCCCCCCTCAGCAAACCACCAAGTGGAGGAGCAGCTGGAGTGGCTGAGCCAGCGCGCCAACGCCCTC
CTGGCCAACGGCATGGATCTCAAAGACAACCAACTAGTGGTGCCAGCCGATGGGTTGTACCTTGTCTACT
CCCAGGTTCTCTTCAAGGGACAAGGCTGCCCCGACTACGTGCTCCTCACCCACACCGTCAGCCGATTTGC
TATCTCATACCAGGAGAAAGTCAACCTCCTCTCTGCCGTCAAGAGCCCCTGCCCCAAGGACACCCCTGAG
GGGGCTGAGCTCAAACCCTGGTATGAGCCCATATACCTGGGAGGAGTCTTCCAGCTGGAGAAGGGGGACC
AACTCAGCGCTGAGGTCAATCTGCCCAAGTACTTAGACTTTGCGGAGTCCGGGCAGGTCTACTTTGGAGT
CATTGCTCTGTGAAGA

In [75]:
tnfa

'ACCATGAGCACAGAAAGCATGATCCGCGACGTGGAACTGGCAGAAGAGGCACTCCCCCAAAAGATGGGGG\nGCTTCCAGAACTCCAGGCGGTGCCTATGTCTCAGCCTCTTCTCATTCCTGCTTGTGGCAGGGGCCACCAC\nGCTCTTCTGTCTACTGAACTTCGGGGTGATCGGTCCCCAAAGGGATGAGGTGAGTNNNNNNNNNNNNNNN\nNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\nNNNNNNNNNNNNNNNCTCCTTCTTTTCCTACACAGAAGTTCCCAAATGGCCTCCCTCTCATCAGTTCTAT\nGGCCCAGACCCTCACACTCAGTAAGTGTTCCCACACCTCTCTCTTAATTTAAGATGGAGGAAGGGCAGTT\nAGGCATGGGATGAGATGGGGTGGGGGGAGAACTTAAAGCTTTGGTTTGGGAGGAAAGGGGTCTAAGTGCA\nTAGATGCTTGCTGGGAAGCCTAAAAGGCTCATCCTTGCCTTTGTCTCTTCCCCTCCAGGATCATCTTCTC\nAAAATTCGAGTGACAAGCCTGTAGCCCACGTCGTAGGTAANNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\nNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\nCCCCCCCCCCTCAGCAAACCACCAAGTGGAGGAGCAGCTGGAGTGGCTGAGCCAGCGCGCCAACGCCCTC\nCTGGCCAACGGCATGGATCTCAAAGACAACCAACTAGTGGTGCCAGCCGATGGGTTGTACCTTGTCTACT\nCCCAGGTTCTCTTCAAGGGACAAGGCTGCCCCGACTACGTGCTCCTCACCCACACCGTCAGCCGATTTGC\nTATCTCATACCAGGAGAAAGTCAACCTCCTCTCTGCCGTCAAGAGCCCCTGCCCCAAGGACACCCCTGAG\nGGGGCTGAGCTCAAACCCTGGTATGAGCCCATATACCTGGGAGGAGTCTTCCAGCTGGAGAAGGGGGACC\nAACTCAGCGCTGAGGTCAATCTGCCCAAGTACTTAGACTTTGCGGAGTCCGGGCAGGTCTACTTTGGAGT\nCATTGCTCTGTGAAGA'

In [80]:
tnfa.replace('wn','')

'ACCATGAGCACAGAAAGCATGATCCGCGACGTGGAACTGGCAGAAGAGGCACTCCCCCAAAAGATGGGGG\nGCTTCCAGAACTCCAGGCGGTGCCTATGTCTCAGCCTCTTCTCATTCCTGCTTGTGGCAGGGGCCACCAC\nGCTCTTCTGTCTACTGAACTTCGGGGTGATCGGTCCCCAAAGGGATGAGGTGAGTNNNNNNNNNNNNNNN\nNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\nNNNNNNNNNNNNNNNCTCCTTCTTTTCCTACACAGAAGTTCCCAAATGGCCTCCCTCTCATCAGTTCTAT\nGGCCCAGACCCTCACACTCAGTAAGTGTTCCCACACCTCTCTCTTAATTTAAGATGGAGGAAGGGCAGTT\nAGGCATGGGATGAGATGGGGTGGGGGGAGAACTTAAAGCTTTGGTTTGGGAGGAAAGGGGTCTAAGTGCA\nTAGATGCTTGCTGGGAAGCCTAAAAGGCTCATCCTTGCCTTTGTCTCTTCCCCTCCAGGATCATCTTCTC\nAAAATTCGAGTGACAAGCCTGTAGCCCACGTCGTAGGTAANNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\nNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\nCCCCCCCCCCTCAGCAAACCACCAAGTGGAGGAGCAGCTGGAGTGGCTGAGCCAGCGCGCCAACGCCCTC\nCTGGCCAACGGCATGGATCTCAAAGACAACCAACTAGTGGTGCCAGCCGATGGGTTGTACCTTGTCTACT\nCCCAGGTTCTCTTCAAGGGACAAGGCTGCCCCGACTACGTGCTCCTCACCCACACCGTCAGCCGATTTGC\nTATCTCATACCAGGAGAAAGTCAACCTCCTCTCTGCCGTCAAGAGCCCCTGCCCCAAGGACACCCCTGAG\nGGGGCTGAGCTCAAACCCTGGTATGAGCCCATATACCTGGGAGGAGTCTTCCAGCTGGAGAAGGGGGACC\nAACTCAGCGCTGAGGTCAATCTGCCCAAGTACTTAGACTTTGCGGAGTCCGGGCAGGTCTACTTTGGAGT\nCATTGCTCTGTGAAGA'

In [81]:
tnfa=tnfa replace('N','')

SyntaxError: invalid syntax (3418568384.py, line 1)

In [79]:
tnfa_list=[t or  in tnfa]

'ACCATGAGCACAGAAAGCATGATCCGCGACGTGGAACTGGCAGAAGAGGCACTCCCCCAAAAGATGGGGG\nGCTTCCAGAACTCCAGGCGGTGCCTATGTCTCAGCCTCTTCTCATTCCTGCTTGTGGCAGGGGCCACCAC\nGCTCTTCTGTCTACTGAACTTCGGGGTGATCGGTCCCCAAAGGGATGAGGTGAGTNNNNNNNNNNNNNNN\nNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\nNNNNNNNNNNNNNNNCTCCTTCTTTTCCTACACAGAAGTTCCCAAATGGCCTCCCTCTCATCAGTTCTAT\nGGCCCAGACCCTCACACTCAGTAAGTGTTCCCACACCTCTCTCTTAATTTAAGATGGAGGAAGGGCAGTT\nAGGCATGGGATGAGATGGGGTGGGGGGAGAACTTAAAGCTTTGGTTTGGGAGGAAAGGGGTCTAAGTGCA\nTAGATGCTTGCTGGGAAGCCTAAAAGGCTCATCCTTGCCTTTGTCTCTTCCCCTCCAGGATCATCTTCTC\nAAAATTCGAGTGACAAGCCTGTAGCCCACGTCGTAGGTAANNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\nNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\nCCCCCCCCCCTCAGCAAACCACCAAGTGGAGGAGCAGCTGGAGTGGCTGAGCCAGCGCGCCAACGCCCTC\nCTGGCCAACGGCATGGATCTCAAAGACAACCAACTAGTGGTGCCAGCCGATGGGTTGTACCTTGTCTACT\nCCCAGGTTCTCTTCAAGGGACAAGGCTGCCCCGACTACGTGCTCCTCACCCACACCGTCAGCCGATTTGC\nTATCTCATACCAGGAGAAAGTCAACCTCCTCTCTGCCGTCAAGAGCCCCTGCCCCAAGGACACCCCTGAG\nGGGGCTGAGCTCAAACCCTGGTATGAGCCCATATACCTGGGAGGAGTCTTCCAGCTGGAGAAGGGGGACC\nAACTCAGCGCTGAGGTCAATCTGCCCAAGTACTTAGACTTTGCGGAGTCCGGGCAGGTCTACTTTGGAGT\nCATTGCTCTGTGAAGA'

In [82]:
tnfa_list=[t for t in tnfa]

NameError: name 'tnfa_list' is not defined